body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3 {
    font-weight: bold;
    text-align: center;
    color: #0a0101;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    padding: 20px;
    background-color:  #aee0bb;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color: #08010151;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.table-container, .course-form, .instance-form {
    margin-bottom: 20px;
}

.course-form, .instance-form {
    background-color: #d6e5e7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #312be8;
    outline: none;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #312be8;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #df221b;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}
